# Ambientes virtuais
venv/
.venv/
env/

# Configurações de ambiente
.env

# Dados sensíveis
data/raw/
*.ipynb
*.sh

# Cache Python
__pycache__/
*.pyc
*.pyo

# Logs e outputs
*.log
output/
output_pca/

# Arquivos temporários
*.tmp
*.temp

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
output_experiments/

.pytest_cache/
